.ant-tabs-tab {
  font-family: "Work Sans", sans-serif;
  font-weight: 350;
  margin: 0 35px 0 35px !important;
  padding: 2px 30px 2px 30px !important;
  font-size: 18px !important;
}
.ant-tabs-tab-active {
  background-color: #3f918d !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
  font-weight: 400 !important;
}
.ant-tabs-tab:hover {
  color: #3f918d !important;
}
.ant-tabs-ink-bar {
  background: black !important;
  height: 1px !important;
}
.project-section {
  background-color: white;
  padding: 0px 50px;
}
.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: 1px solid white !important;
}
.ant-card-body,
.projects {
  padding: 0px !important;
}
.card-text {
  z-index: 2;
  position: absolute;
  top: 0%;
  left: 0%;
}
#card-element .card-text {
  visibility: hidden;
}
#card-element .card-cover {
  visibility: visible;
}
#card-element:hover .card-text {
  visibility: visible;
  cursor: pointer;
}
#card-element:hover .card-cover {
  visibility: hidden;
  cursor: pointer;
}
.know-more {
  width: 100px !important;
  height: 30px !important;
  font-family: "Work Sans", sans-serif;
  font-size: 14px !important;
  color: #3f918d !important;
  border-color: #3f918d !important;
  position: absolute !important;
  bottom: -70%;
  right: 29%;
}
.card-title {
  font-family: "Work Sans", sans-serif;
  font-size: 26px !important;
  font-weight: 300;
  padding-top: 30px;
}
.ant-modal-header {
  padding: 0px !important;
  padding-bottom: 5px !important;
  background: transparent !important;
}
.ant-modal {
  width: 700px !important;
}
.modal-content-title {
  font-family: "Work Sans", sans-serif;
  font-size: 26px !important;
  font-weight: 400;
}
.ant-modal-body {
  padding: 0px !important;
}
.modal-content-desc {
  font-family: "Work Sans", sans-serif;
  font-size: 18px !important;
  font-weight: 300;
}
.github-button {
  width: 150px !important;
  height: 30px !important;
  font-family: "Work Sans", sans-serif;
  font-size: 14px !important;
  color: #3f918d !important;
  border-color: #3f918d !important;
}
