.big-font-about{
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 48px;
}
.small-font-about{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.avatar{
  height: 100px;
  vertical-align: middle;
}
.ant-progress-circle .ant-progress-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: rgb(48, 47, 47) !important;
  font-size: 0.8em !important;
  line-height: 1;
  }