.mail-id-contact{
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
}
.bug-report-contact{
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}