.mail-id-contact {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
}
.bug-report-contact {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.submit-button {
  color: #3f918d;
  border: 1px solid #3f918d;
  background-color: transparent;
  border-radius: 7px;
  padding: 7px 16px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}
.submit-button:hover {
  color: white;
  background-color: #3f918d;
}
.form-label {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.ant-input {
  width: 80% !important;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}
.ant-input:hover {
  border-color: #3f918d !important;
  border-right-width: 1px !important;
}
.message-box {
  width: 75% !important;
}
.name-box {
  width: 79.5% !important;
}