.ant-image-preview-img {
  max-width: 100%;
  max-height: 90%;
  transition: transform 2.3s cubic-bezier(0.215, 0.61, 0.355, 2) 0s, -webkit-transform 1.3s cubic-bezier(0.215, 0.61, 0.355, 2) 0s !important;
}
.image{
  transition: all 1.2s !important;
}
.name{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #bebebe;
  font-size: 25px;
  transition: all 1.2s !important;
}
.tag{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #bebebe;
  font-size: 16px;
  transition: all 1.2s !important;
}
.disp-none{
  display: none;
}