.timeline-icon {
  color: white !important;
  background-color: #3f918d !important;
}
.ant-divider-vertical {
  height: 1.5em !important;
  border-left: 2px solid #3f918d !important;
}
.timeline-date{
  font-family: "Work Sans", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.timeline-bigtext{
  font-family: "Work Sans", sans-serif !important;
  font-size: 20px !important;
  font-weight: 400 !important;
}
.timeline-smalltext{
  font-family: "Work Sans", sans-serif !important;
  font-size: 16px !important;
  font-weight: 300 !important;
}