.footer-section{
  background-color: black;
  padding: 10px;
}
.cpright{
  color: #bebebe;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.icons-footer:hover{
  color: #3f918d;
  transform: scale(1.5);
}
.back-top-footer{
  background-color: #c7c7c7;
  opacity: 0.7;
  padding: 10px;
  border-radius: 100%;
}