.react-audio-player {
  background-color: transparent !important;
  margin-left: 2px;
  margin-right: 2px;
  position: absolute;
  top: 88%;
  z-index: 2;
}
.song-card {
  height: 320px;
  color: white;
  line-height: 25px;
  text-align: right;
  background-image: url("./September.jpg");
  background-position: center;
  border-radius: 5px;
}
.yt-icon {
  padding-top: 170px;
  color: rgb(163, 19, 19) !important;
  font-size: 25px;
}
.info-icon {
  color: black !important;
  font-size: 18px;
  margin-right: 90px;
  padding-top: 7px;
}
.small-text-card {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-shadow: 1px 1px black;
}
.big-text-card {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-shadow: 1px 1px black;
}
.card {
  background: transparent !important;
}
.blog-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
}
.blog-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.ant-btn:hover .blog-icon {
  color: white !important;
}
.pagination {
  padding-top: 25px !important;
  padding-bottom: 20px !important;
  padding-right: 25px !important;
  vertical-align: middle;
}
.ant-pagination-prev,
.ant-pagination-next {
  font-family: Arial, Helvetica, sans-serif;
  outline: 0;
  border: 1px solid #bebebe;
  vertical-align: middle;
}
.ant-pagination-prev:hover,
.ant-pagination-prev:focus,
.ant-pagination-prev:active,
.ant-pagination-next:hover,
.ant-pagination-next:focus,
.ant-pagination-next:active {
  border: 1px solid #bebebe;
}
.anticon.anticon-left{
  vertical-align: 2px !important;
  color: #3f918d !important;
}
.anticon.anticon-right{
  vertical-align: 2px !important;
  color: #3f918d !important;
}
.ant-pagination-item,
.ant-pagination-item:hover,
.ant-pagination-item:focus,
.ant-pagination-item:active {
  border: 1px solid #bebebe !important;
  color: black !important;
}
.ant-pagination-item-active:hover a {
  color: black !important;
}
