#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-sider-trigger {
  position: relative !important;
  background: rgb(17, 17, 17) !important;
  transition: all 1.2s !important;
  -webkit-transition: all 1.2s !important;
  color: #bebebe !important;
  border-right: 2px solid #3f918d !important;
}
.ant-layout-sider {
  border-right: 2px solid #3f918d !important;
  position: relative;
  min-width: 0;
  background: rgb(44, 44, 44) !important;
  -webkit-transition: all 1.2s !important;
  transition: all 1.2s !important;
}
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: #bebebe !important;
  background: rgb(44, 44, 44) !important;
}
.ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-item-active,
.ant-menu-dark .ant-menu-submenu-active,
.ant-menu-dark .ant-menu-submenu-open,
.ant-menu-dark .ant-menu-submenu-selected,
.ant-menu-dark .ant-menu-submenu-title:hover {
  color: #bebebe !important;
  background: rgb(17, 17, 17) !important;
  border-right: 2px solid #3f918d !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  border-right: 2px solid #3f918d !important;
  background-color: black;
  background: rgb(17, 17, 17) !important;
}
.content {
  height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
